 .body{
	font-family: cursive;
	margin:0;
	padding: 0;



}
.fact{
   font-size: 50px;
   
}
.row{
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.about-section{
	padding: 50px;
	text-align: center;
	background-color: thistle;
	color: darkorchid;
}
.container{
	padding top: 0;
	padding-bottom: 16px;
	padding-left: 0;
	padding-right: 16px;
}
.column,.row{
    border:2px solid ;

}
.column{
     padding:20px;
     width: 100%;
}
img{
	width: 50%;
	height: auto;
}



